//Logo
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 253px;
    height: 44px;
    text-decoration: none;

    h1 {
        margin: 0;
        font-weight: 600;
        font-size: 36.4px;
        line-height: 44.05px;
    }
}

//Header
.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 192px;
    padding: 34px 7.2222222% 34px 7.2222222%;
    font-family: "Inter", sans-serif;
    background-color: var(--white);

    .search-button-float,
    .menu-flutuante,
    .login-float {
        display: none;
    }

    .nav-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .search {
        display: flex;
        width: 44%;
        height: 60px;
        align-items: center;
        position: relative;
        padding: 16px;
    }

    .search::after {
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        background-color: var(--dark-gray-2);
        width: 100%;
        height: 100%;
        opacity: 4%;
        border-radius: 8px;
    }

    .search-input {
        background-color: #ffffff00;
        padding-right: 16px;
        width: 100%;
        border: none;
        color: var(--dark-gray);
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        outline: none;
        z-index: 1;
    }

    .search-button-float,
    .search-button {
        background-color: #ffffff00;
        border: none;
        z-index: 1;
    }

    .search-button-float img,
    .search-button img {
        width: 24px;
    }

    .login {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .entrar,
    .entrar-float {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 114px;
        height: 40px;
        text-decoration: none;
        background-color: var(--primary);
        border-radius: 8PX;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.75px;
        color: var(--light-gray-3);
    }

    .entrar:hover,
    .entrar-float:hover {
        background-color: var(--light-gray-3);
        color: var(--primary);
        border: 1px solid var(--primary);
    }

    .cadastro {
        color: var(--dark-gray-2);
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
    }

    .login a {
        word-break: keep-all;
    }

    .carrinho {
        width: 33px;
        height: 29px;
        position: relative;
        cursor: pointer;
    }

    .carrinho span {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 17px;
        height: 17px;
        border-radius: 100%;
        background-color: var(--primary);
        top: -4px;
        right: -4px;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 0.5px;
        color: var(--white);
    }

    .nav-bottom {
        display: flex;
        align-items: center;
        gap: 28px;
    }

    .link-nav {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.75px;
        color: var(--dark-gray-2);
        transition: 0.2s;
        position: relative;
        height: 30px;
    }

    .link-nav:hover {
        color: var(--primary);
    }

    .link-nav::after {
        content: "";
        position: absolute;
        background-color: var(--primary);
        height: 2px;
        border-radius: 2px;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: 0.2s;
        transform: scaleX(0);
    }

    .link-nav:hover::after {
        transform: scaleX(1);
    }

    .link-nav.active {
        font-weight: 700;
        color: var(--primary);
    }
    
    .link-nav.active:after {
        transform: scaleX(1);
    }

    @media (max-width: 950px) {
        .cabecalho {
            height: auto;
            padding: 25px 7.2222222% 25px 7.2222222%;
            justify-content: center;
            gap: 25px;
            position: relative;
        }

        .login {
            display: none;
        }

        .menu-flutuante {
            background-color: var(--white);
            border: none;
            display: block;
        }

        .login-float {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 105px;
            gap: 17px;
            border-top: 1px solid var(--light-gray-2);
        }

        .nav-float {
            position: absolute;
            top: 100%;
            left: -100;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            width: 310px;
            height: 702px;
            background-color: var(--white);
            left: -100%;
            transition: 0.5s;
        }

        .nav-bottom {
            flex-direction: column;
            align-items: start;
        }

        .entrar-float {
            width: 100%;
        }

    }

    @media (max-width: 750px) {
        .search {
            display: none;
        }

        .carrinho {
            display: flex;
            justify-content: space-between;
            width: 80px;
            gap: 10px;
        }

        .searchsx {
            display: none;
            width: 100%;
            height: 60px;
            position: relative;
            align-items: center;
            justify-content: right;
        }

        .search-button-float {
            display: block;
        }

    }

}

//Footer
Footer {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: var(--white);
    width: 100%;
    padding: 50px 0px;
    background-color: var(--dark-gray);
    background-size: cover;

    .container__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 95px;
    }

    .img-footer {
        display: flex;
        flex-direction: row;
        margin-right: auto;
        gap: 3px;

    }

    .box__footer {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: right;
    }

    .box__footer .logo img {
        width: 180px;
    }

    .box__footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: var(--white);
        font-size: 18px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 4px;
        margin-right: auto;

    }

    .box__footer h2 {
        margin-bottom: 30px;
        color: var(--white);
        font-weight: 700;
    }

    .footer-itens {
        display: flex;
        flex-direction: column;
    }

    .footer-itens a {
        display: flex;
        align-items: start;
        gap: 8px;
        text-decoration: none;
    }

    .box__footer a {
        margin-top: 10px;
        color: var(--white);
        font-weight: 500;
    }

    .box__footer a:hover {
        opacity: 0.8;
    }

    .box__footer a .fab {
        font-size: 20px;
    }

    .box__copyright {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }

    .box__copyright p {
        margin-top: 20px;
        color: var(--white);
    }

    .box__copyright hr {
        border: none;
        height: 1px;
        background-color: var(--white);
    }

}