#ProductViewPage {
    display: flex;
    padding: 34px 7.2222222% 34px 7.2222222%;
    justify-content: space-between;
    gap: 10px;

    #Gallery {

        margin-bottom: 40px;

        .carousel-inner,
        img {
            border-radius: 4px;
            width: 48.62vw;
            height: 39.584vw;
        }

        .carousel-indicators {
            position: static;
            margin: 0;
            justify-content: space-between;

            img {
                border-radius: 4px;
                width: 8.20vw;
                height: 6.8vw;
            }

        }
    }

    #BuyBox {
        width: 35.8vw;
        height: 39.584vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        button {
            border: none;
            border-radius: 10px;
            width: 220px;
            height: 48px;
            background-color: var(--warning);
            color: var(--white);
            font-weight: bold;
            transition: 0.8s;
        }

        button:hover {
            background-color: var(--white);
            color: var(--warning);
            border: 1px solid var(--warning);
        }

    }
}