* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cabecalho {
    padding: 30px 7.2222222% 30px 7.2222222%;
    display: flex;
    flex-direction: column;
}

.div-1 {
    display: flex;
    justify-content: space-between;
}

.d-inline-block {
    width: 240px;
}

.carrossel {
    padding-bottom: 40px;
    width: 1440px;
    height: 681px;
}